---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar";
import "@fontsource-variable/inter";

export interface Props {
  title: string;
  hideMenu?: boolean;
  hideTitle?: boolean;
  hideFooter?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

// TODO: Unhide menu when ready
const { title: pageTitle, hideMenu = true, hideTitle, hideFooter } = Astro.props;

const title = `${pageTitle} | ${import.meta.env.PUBLIC_SITE_NAME}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={title}
      description="GroundedTutor is a platform for rediscovering the beauty of personalized education"
      canonical={canonicalURL}
      twitter={{
        creator: "@GroundedTutor",
        site: Astro.site?.toString(),
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: title,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "GroundedTutor Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar hideMenu={hideMenu} hideTitle={hideTitle} />
    <slot />
    {!hideFooter && <Footer />}
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
